<main
  class="flex h-screen flex-col items-center justify-center bg-[#eaeff5] bg-gradient-to-br text-center text-[#334155]"
>
  <h1 class="font-mono text-[8rem] font-bold drop-shadow-lg">ERROR - 404</h1>

  <p class="mt-6 font-mono text-xl opacity-90">
    An error has occurred, to continue:
  </p>
  <p class="mt-2 font-mono text-lg opacity-80">
    * Return to our homepage.
    <br />* Send us an email about this error and try later.
  </p>

  <nav class="mt-10 flex space-x-6 font-mono text-lg">
    <a
      href="/"
      class="rounded px-3 py-1 text-[#334155] transition-colors hover:bg-[#334155] hover:text-white"
    >
      index
    </a>
    <a
      href="mailto:cn.youc@gmail.com"
      class="rounded px-3 py-1 text-[#334155] transition-colors hover:bg-[#334155] hover:text-white"
    >
      webmaster
    </a>
  </nav>
</main>
